@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    user-select: none;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: all .4s ease;
    border-bottom: 3px solid transparent;
    position: relative;
    display: inline-block;
}

nav a.active {
    color: #b74b4b;
    transform: scale(1.2);
}

nav a::before {
    content: '';
    position: absolute;
    width: 0; /* Inicia con un ancho de 0 */
    height: 3px; /* Grosor de la línea */
    bottom: 0; /* Posición en la parte inferior del enlace */
    left: 50%; /* Comienza desde el centro */
    background-color: #b74b4b; /* Color del borde */
    transition: all 0.4s ease, left 0.4s ease; /* Transición para ancho y posición */  
}

nav a:hover::before,
nav a.active::before {
width: 100%; /* Expande a todo el ancho del enlace */
left: 0; /* Cambia la posición para llenar desde el centro hacia los lados */
}

nav a:hover {
    transform: scale(1.2);
    color: #b74b4b;
}

@media(max-width:995px){
    nav {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 30%;
        border-left: 3px solid #b74b4b;
        border-bottom: 2px solid #b74b4b;
        border-radius: 2rem;
        padding: 1rem solid;
        background-color: black;
        border-top: .1rem solid rgba(0,0,0,0.1);
    }


    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 1rem;
        background-color: black;
    }

    nav a::after {
        content: '';
        position: absolute;
        height: 0; /* Inicia con una altura de 0 */
        width: 3px; /* Grosor del borde izquierdo */
        left: -5px; /* Posición en el borde izquierdo del enlace */
        top: 50%; /* Comienza desde el centro */
        background-color: #b74b4b; /* Color del borde */
        transition: height 0.4s ease, top 0.4s ease; /* Transición para altura y posición */
    }

    nav a:hover::after,
    nav a.active::after {
    height: 100%; /* Expande el borde izquierdo a toda la altura */
    top: 0; /* Cambia la posición para cubrir desde el borde superior */
}

    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }
     .home-img img {
        width: 70vw;
        margin-top: 4rem;

     }
}


section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 2rem;
    margin-left: -2rem;
}

span {
    color: #b74b4b
}

.home-content h3 {
    font-size: 4rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.6rem;
    margin-left: 2rem;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    transition: .2s linear;
    box-shadow: 0 1px 12px #b74b4b;
}

.social-icons {
    margin-left: 1rem;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: .2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease;
}

.social-icons a:hover {
    color:black;
    transform: scale(1.3)translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0 0 25px #b74b4b;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: .3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: all .4s ease;
    margin-left: 1rem;
}

.btn:hover {
    transform: scale(1.17);
    color: black;
    background-color: #b74b4b;
    box-shadow: 0 0 20px #b74b4b;
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: 'Web Developer';
    color: #b74b4b;
    animation: words 10s infinite;
}

.typing-text span::after {
    content: '';
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor .7s infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid #b74b4b;
    }
}

@keyframes words {
    0%, 50%{
        content: "Web Developer"
    }
    51%, 100%{
        content: "Student";
    }
}

@media(max-width:1000px){
    .home {
        gap: 4rem;
    }
}

